<h1>Lista de vinos</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @for (wine of wines; track wine.name){
        <tr>
            <td><img width="120" height="120" [src]="wine.image" [alt]="wine.image"/></td>
            <td>{{wine.name}}</td>
            <td>{{wine.type}}</td>
            <td>{{wine.price | currency}}</td>
            @if(wine.stock > 0) { 
                <td>{{wine.stock}}</td>
            }@else {
                <td><span class="badge badge-warning text-dark">SIN STOCK</span></td>
            }
        </tr>
        } @empty {
             <tr>
                <td colspan="4">No hay vinos para mostrar.</td>
            </tr>
        }
    </tbody>
</table>
